body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

.hideable {
    transition-property: opacity;
    transition-duration: 0.2s;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 0.2s;
}
