/* !! general */

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    text-align: center;
}

/* !! game */

#game {
    position: relative;
    margin-bottom: 4rem;
}

#main, #results {
    transition: all 0.4s;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/* !! main game display */

#kana-display {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    left: calc(50vw - 4rem);
    font-size: 5.5rem;
    text-align: center;
    line-height: 8rem;
    background-color: gainsboro;
}

#key-display > div {
    position: absolute;
    width: 10rem;
    font-size: 2.5rem;
    text-align: center;
    top: 9rem;
    left: calc(50vw - 5rem);
}

/* !! key input */

.previous-input {
    animation: fade-out 0.5s;
    opacity: 0;
}

.incorrect {
    color: crimson;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* !! results */

#results {
    text-align: center;
}

#incorrect-answers {
    display: flex;
    justify-content: center;
    height: 8em;
    font-size: 1.1rem;
}

#incorrect-answers ul {
    margin: 0 1.25em;
    padding-left: 0;
    list-style-type: none;
    text-align: revert;
}

#reset {
    all: unset;
    cursor: pointer;
    padding: 0.5em;
    background-color: gainsboro;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: inherit;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color 0.3s;
}

#reset:hover {
    background-color: lavender;
}
