/* !! General */

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

/* !! Kana display */

#kana-display {
    position: relative;
}

#kana-display div {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    width: 2.2rem;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-out;
}

#kana-display div:nth-child(1) {
    opacity: 0;
    transform: translate(calc(42vw - 1.1rem)) scale(0.1);
}

#kana-display div:nth-child(2) {
    opacity: 0.5;
    transform: translate(calc(46vw - 1.1rem)) scale(0.5);
}

#kana-display div:nth-child(3) {
    opacity: 1;
    transform: translate(calc(50vw - 1.1rem));
}

#kana-display div:nth-child(4) {
    opacity: 0.5;
    transform: translate(calc(54vw - 1.1rem)) scale(0.5);
}

#kana-display div:nth-child(5) {
    opacity: 0;
    transform: translate(calc(58vw - 1.1rem)) scale(0.1);
}
