/* !! general */

body {
    margin: 0;
    font-family: sans-serif;
}

main {
    min-height: 90vh;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: 0.25em 0;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

footer {
    text-align: center;
}

/* !! game */

#game {
    position: relative;
    min-height: 35vh;
    margin: 2.5rem 0 2.25rem 0;
}

#main, #results {
    transition: all 0.4s;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/* !! main game display */

#kana-display {
    position: absolute;

    width: 10rem;
    height: 10rem;

    top: 1.5rem;
    left: calc(50% - 5rem);

    background-color: #ccccff;
    border-radius: 10px;

    font-size: 7rem;
    text-align: center;
    line-height: 10rem;
}

#key-display > div {
    position: absolute;

    width: 20rem;

    top: 13.25rem;
    left: calc(50% - 10rem);

    font-size: 2.5rem;
    text-align: center;
}

/* !! key input */

.previous-input {
    animation: fade-out 0.5s;
    opacity: 0;
}

.incorrect {
    color: crimson;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* !! results */

#results {
    text-align: center;
}

#incorrect-answers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    min-height: 10em;

    font-size: 1.3rem;
}

#incorrect-answers ul {
    margin: 0 1.25em;
    padding-left: 0;
    text-align: left;
    list-style-type: none;
}

#reset {
    all: unset;

    margin-bottom: 0.25em;
    padding: 0.6em;

    background-color: #ccccff;
    border-radius: 10px;

    font-family: inherit;
    font-size: 1.2rem;

    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;

    transition: background-color 0.3s;
}

#reset:hover {
    background-color: #e7e7ff;
}

/* !! settings */
#settings {
    margin-left: 2rem;
}

#settings-row {
    display: flex;
    gap: 50px;
}

#settings > h2 {
    text-align: left;
}

#settings h3 {
    margin: 0.5rem;
}

.option {
    margin: 0.25em 1em;
    font-size: 1.1rem;
}

