/* !! general */

body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
    text-align: center;
}

h3 {
    font-size: 1.25rem;
}

/* !! game */

#game {
    position: relative;
    margin: 2.5rem 0;
}

#main, #results {
    transition: all 0.4s;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

/* !! main game display */

#kana-display {
    position: absolute;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    top: 1.5rem;
    left: calc(50% - 5rem);
    font-size: 7rem;
    text-align: center;
    line-height: 10rem;
    background-color: #ccccff;
}

#key-display > div {
    position: absolute;
    width: 20rem;
    font-size: 2.5rem;
    text-align: center;
    top: 13.25rem;
    left: calc(50% - 10rem);
}

/* !! key input */

.previous-input {
    animation: fade-out 0.5s;
    opacity: 0;
}

.incorrect {
    color: crimson;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* !! results */

#results {
    text-align: center;
}

#incorrect-answers {
    display: flex;
    justify-content: center;
    height: 10em;
    font-size: 1.3rem;
}

#incorrect-answers ul {
    margin: 0 1.25em;
    padding-left: 0;
    list-style-type: none;
    text-align: left;
}

#reset {
    all: unset;
    cursor: pointer;
    padding: 0.6em;
    background-color: #ccccff;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: inherit;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color 0.3s;
}

#reset:hover {
    background-color: #e7e7ff;
}

/* !! settings */
