body {
    margin: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

#game {
    position: relative;
}

#kana-display {
    position: absolute;
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
    left: calc(50vw - 4rem);
    font-size: 5.5rem;
    text-align: center;
    line-height: 8rem;
    background-color: gainsboro;
}

#key-display > div {
    position: absolute;
    width: 10rem;
    font-size: 2.5rem;
    text-align: center;
    top: 9rem;
    left: calc(50vw - 5rem);
}

.previous-input {
    animation: fade-out 0.5s;
    opacity: 0;
}

.incorrect {
    color: crimson;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#incorrect-answers {
    display: flex;
    /* justify-content: center; */
    font-size: 1.1rem;
}

#incorrect-answers ul {
    margin: 0 1.25em;
    padding-left: 0;
    list-style-type: none;
}
